body {
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, serif;
  line-height: 150%;
  background: darkgray url("../images/texture.png") top center repeat;
  margin: 0;
}

header {
  background: transparent url("../images/logo.png") top center no-repeat;
  text-indent: -999px;
  height: 182px;
}

#content {
  background: white url("../images/texture_2.png") top center repeat;
  box-shadow: 0px 0px 10px rgba(0,0,0,.6);
  width: 800px;
  min-height: 800px;
	margin: 0 auto;
	padding-bottom: 1px; /* collapse */
	position: relative;
}
#content .inner {
  margin: 1em 2em;
}

.columned-2 {
  column-count: 2;
  column-gap: 20px;
  column-fill: auto;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;
}
.columned-2 > *:first-child {
  margin-top: 0;
}

pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: .2em 1em;
  line-height: 1em;
  overflow-x: scroll;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

hr {
  clear: both;
  border-width: 3px;
  border-color: darkgray;
  border-style: double none none none;
  margin: 1em 0;
}

@media screen and (max-width: 480px) {
  #content {
    width: auto;
  }
  .columned-2 {
    column-count: 1;
    -webkit-column-count: 1;
  }
}

@media screen and (max-width: 380px) {
  header {
    background-size: 600px 137.5px;
    height: 137.5px;
  }
}
